/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{box-sizing: border-box;}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-start; */
  background-color: #0e80b0;
}

.btn {
  background-color: #fff;
  color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid orange;
  border-radius: 5px;
  box-shadow: 0 12px orange, 0 18px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.disabled .btn {
  cursor: default;
}

.disabled .btn:hover {
  top: 0;
  background: #fff;
  color: orange;
  box-shadow: 0 12px #ec5343, 0 18px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: orange;
  color: #0e80b0;
  top: 4px;
  box-shadow: 0 8px orange, 0 14px rgba(0, 0, 0, 0.4);
}

.btn:active {
  top: 8px;
  box-shadow: 0 4px orange, 0 10px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;  
}

.game-info {
  font-size: 20px;
  color: #fff;
  justify-content: center;
  align-self: flex-start;
  margin: 5px;
  padding: 0 40px;
}

.game-info li button{
  background-color: #fff;
  margin: 5px;
  font-size: 20px;
  color: #333;
}

.game-info li {
  list-style: decimal; 
  color: #fff;
}


/* direct child > */
.board > div {
  display: flex;
}

.board {
  font-size: 28px;
  text-align: center;
  color: #fff;
}
